/*Estilização index*/

#menu li {
    display: inline;
    padding: 20px;
    font-size: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;

}
#menu li a:hover {
    color: purple;
    font-size: 21px;

}

body {
    background-image: linear-gradient(to bottom, #FFDFD6,#E3A5C7,#B692C2 );
}

footer {
    background-color: #B692C2;
    text-align: center;
}

.center {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-size: 35px;
    background-color: #B692C2;
    text-align: center;
}
.principal{
    padding: 2% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.principal-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    align-items: center;

}

.principal-texto1 {
    height: 100%; 
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 5px;
}

.linha {
    word-wrap: break-word;
    white-space: pre-line;
}

.principal-destaque1 {
font-style: italic
}

.principal-destaque2 {
    font-weight: bold;
}

/*
.container-imagem {

    display: flex;
    border: 3px solid black ;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
*/

.imagem-rebeca{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.footer{
    text-align: center;
}
/*Estilização contato*/